[submodule "deps/scribe-engine-jsc"]
	path = deps/scribe-engine-jsc
	url = https://github.com/scribe-src/scribe-engine-jsc.git
[submodule "deps/objc-unit"]
	path = deps/objc-unit
	url = https://github.com/scribe-src/objc-unit.git
[submodule "deps/jscocoa"]
	path = deps/jscocoa
	url = https://github.com/scribe-io/jscocoa.git
[submodule "deps/scribe-api"]
	path = deps/scribe-api
	url = https://github.com/scribe-src/scribe-api.git
